@tailwind base;
@tailwind components;
@tailwind utilities;

.ecommerce-image {
  background-image: url("/src/images/laptop.jpg");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
